<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
        Copyrights &copy; 2023 <a href="#" class="color-blue strong" target="_blank">ArtSystem</a>. Todos direitos reservados.
    </p>
    <p class="pull-right">
        <a href="#" class="mr5">Termos de usos</a>
        |
        <a href="#" class="ml5 mr25">Política de Privacidade</a>
    </p>
</div>