@{
    ViewData["title"] = "Lista de Paciente";
}

<vc:cabecalho titulo="Gestão de Pacientes" sub-titulo="Controle geral de cadastro de paciente"></vc:cabecalho>

<div class="panel panel-success panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Pacientes</h3>
    </div>
</div>